<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_sector.name %>
</p>

<%= link_to 'Edit', edit_admin_sector_path(@admin_sector) %> |
<%= link_to 'Back', admin_sectors_path %>
