<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_country.name %>
</p>

<%= link_to 'Edit', edit_admin_country_path(@admin_country) %> |
<%= link_to 'Back', admin_countries_path %>
