<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_channel.name %>
</p>

<%= link_to 'Edit', edit_admin_channel_path(@admin_channel) %> |
<%= link_to 'Back', admin_channels_path %>
